*.tmp

# GNS3

GNS3/projects/simpleRemote/project-files/dynamips

# GNS3 packet capture
GNS3/projects/simpleRemote/project-files/captures

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

# LibreOffice locks
.~lock.*#

#pycharm
src/.idea/*
src/__pycache__

#vscode
.vscode
