*.tmp

# GNS3

GNS3/projects/simpleRemote/project-files/dynamips

# Packet capture
*.pcap

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

# LibreOffice locks
.~lock.*#